/* Name: Prabath Reddy Sagili Venkata
 G-Number: G01393364 */
 
* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container {
    border-radius: 5px;
    background-color: #ffcc33;
    padding: 20px;
}

/*
    Used Flex Container to paint the background outside the survey page's container
*/
.flex-container {
display: flex;
background-color: #006633;
}

.heading {
    background-color: #212121;
    color: #006633;
    border: 5px solid #006633;
    padding: 30px 0 30px 0;
    box-shadow: 5px 7px gray;
    text-align: center;
}

.required {
    content: " *";
    color: red;
    font-weight: 100;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    }
}


.my-table{
    /* padding-left: 50px; */
} 

.survey {
    background-color: #90a1b3;
    border: 5px solid #006633;
    padding: 15px;
    text-align: center;
}

#tble{ 
    text-align: center;
}

h4{
    text-align: center;
}

/* Style the button */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #555;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}
    
/* Add a hover effect to the button */
.floating-btn:hover {
    background-color: black;
}